@font-face {
  font-family: "iconfont"; /* Project id 2786216 */
  src: url('iconfont.woff2?t=1630590471912') format('woff2'),
       url('iconfont.woff?t=1630590471912') format('woff'),
       url('iconfont.ttf?t=1630590471912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e67c";
}

.icon-shanchu:before {
  content: "\e614";
}

.icon-yulan:before {
  content: "\e6a2";
}

